[submodule "infra/watchman"]
	path = infra/watchman
	url = git@github.com:senjun-team/watchman_cpp.git
[submodule "infra/handyman"]
	path = infra/handyman
	url = git@github.com:senjun-team/handyman.git
